@{
    Common.Models.Article art = ViewBag.articleMsg;
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <meta name="keywords" content="程序员,博客,个人博客,发哥,发哥的网站" />
    <meta name="description" content="发哥，一个有梦想，有个性的平凡人..." />
    <title>平凡的程序员</title>
    <link rel="stylesheet" type="text/css" href="/Themes/Lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/Themes/Lib/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/Themes/Css/global.css" />
    <script type="text/javascript" src="/Themes/Js/jquery.min.js"></script>
    <script type="text/javascript" src="/Themes/Js/global.js"></script>
    <script type="text/javascript" src="/Themes/Lib/bootstrap/Js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function ()
        {
            setNavActive("@ViewBag.type");

            $.ajax({
                type: "post",
                url: "/Home/DistributionContent",
                data: {
                    num: "@ViewBag.num"
                },
                success: function (data)
                {
                    $("#Art").html(data);
                }
            });
        });
    </script>
</head>
<body>
    <div id="page">
        @Html.Partial("Header");
        <div id="content">
            <div id="content_left">
                <div class="panel panel-default" id="Art">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">100% Complete</span>
                        </div>
                    </div>
                </div>
                <!-- 多说评论框 start -->
                <div class="ds-thread" data-thread-key="@art.Article_Id" data-title="@art.Article_Title" data-url="http://liguifa.gdky.top//Home/DistributionContent/@ViewBag.type/@ViewBag.num"></div>
                <!-- 多说评论框 end -->
                <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                <script type="text/javascript">
                    var duoshuoQuery = { short_name: "liguifablog" };
                    (function ()
                    {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript'; ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0]
                        || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                <!-- 多说公共JS代码 end -->
            </div>

            @Html.Partial("Right");
        </div>
        @Html.Partial("Footer");
    </div>
</body>
</html>